#VacationName{
    background-color: rgb(63, 81, 181);
    color: white; 
    border-color:rgb(63, 81, 181); 
    padding: 0%; 
    width: 200px; 
    font-size: 20px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.726);
    font-size: 20px;
}
