#vacationList li a {
  border: 1px solid #ddd; /* Add a border to all links */
  padding: 12px; /* Add some padding */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  
}

#vacationList li a:hover {
   border: 1px solid rgb(63, 81, 181);

}