#map2{
	height: 310px;
	width: 100%;
}

td{
	border: 2px solid rgb(64, 81, 181);
  padding: 3px 30px;
	text-align: left;
}

table{
  border-collapse: separate;
  border-spacing: 10px;
  border-collapse: expression('separate', cellSpacing='10px');
  margin-left: -30px;
  margin-top: -20px;
}

.card {
  width: 100%;
  border-radius: 2%;
}

.container {
  padding: 2px 16px;
}