.Sedan{
	background-image: url("https://media.autoexpress.co.uk/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1619790617/autoexpress/2021/04/Jaguar%20XF%20P250%202021%20UK-19.jpg");
	background-size: cover;
	background-position: center;
	height: 200px
}

.SUV{
	background-image: url('https://cdn.motor1.com/images/mgl/BqPXw/s1/2021-jaguar-f-pace-svr-lead.jpg');
	background-size: cover;
	background-position: center;
	height: 200px
}

.Van{
	background-image: url('https://s1.cdn.autoevolution.com/images/gallery/MERCEDES-BENZ-Vito-Tourer-6781_46.jpg');
	background-size: cover;
	background-position: center;
	height: 200px
}
.MiniBus{
	background-image: url('https://img.auto.cz/foto/mercedesbenz-profi-autobusy/Zml0LWluLzEwNTB4OTk5OS9maWx0ZXJzOnF1YWxpdHkoODUpOm5vX3Vwc2NhbGUoKS9pbWc/5320689.jpg?v=0&st=aGPAp18e_482XmdKUp48k3bSUSZWfbFaYWC-Z1PIs4U&ts=1600812000&e=0');
	background-size: cover;
	background-position: center;
	height: 200px
}

label{
	text-align: center;
	color:white;

}

.mdl-radio__outer-circle{
	border: 2px solid white;;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid rgb(233, 30, 99);
}

.mdl-radio__inner-circle {
	background: rgb(233, 30, 99);
}